@model IEnumerable<SuggestionBox.Models.SuggestionModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

        @Html.DisplayNameFor(model => model.Topic)
        @Html.DisplayNameFor(model => model.Suggestion)
        @Html.DisplayNameFor(model => model.Priority)

    @*foreach variable item in the model, it will loop
    foreach item it will display item.topic and item.suggestion
    every time we add a new record it will add a new item (row) to our table*@


<div class="row">

    @foreach (var item in Model)
    {

       

        @*@Html.ActionLink("Edit", "Edit", new { id = item.RecordNum }) |
        @Html.ActionLink("Details", "Details", new { id = item.RecordNum }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.RecordNum })*@



    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Topic)</h3>
                <p>@Html.DisplayFor(modelItem => item.Suggestion)</p>
                <p>@Html.DisplayFor(modelItem => item.Priority)</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    }
</div>
    

